@import "bootstrap";

$max-width: 800px;

body {
  background: white;
  color: #444;
}

.main-header {
  max-width: $max-width;
  margin: 3em auto 1em;
  text-align: center;
}

.main {
  max-width: $max-width;
  margin: 3em auto 3em;
  text-align: center;
}

.color-sample {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 4px;
}
